.problems__title{
    margin-top: 100px;
    width: 260px;
    font-size: 25px;
    font-family: "Playfair Display", serif;
    border-bottom: 1px solid #000;
  }
  
  .problem {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
  }
  .image-items{
    margin-top: 50px;
    list-style-type: none;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
  }
  .image-item{
    height: 400px;
      width: 22%;
      display: flex;
      padding: 20px 10px 0;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      position: relative;
      z-index: 4;
      box-shadow: inset 10px 10px 80px rgba(0,0,0,0.45);
      border-radius: 100%;
  }
  
  .first-row .image-items .image-item:first-child {
    background: url(../img/Problems/Problems_1.jpg) no-repeat center left / cover;
  }
  .first-row .image-item:nth-child(2) {
    background: url(../img/Problems/Problems_2.jpg) no-repeat center left / cover;
  }
  .first-row .image-item:nth-child(3) {
    background: url(../img/Problems/Problems_3.jpg) no-repeat center left / cover;
  }
  .first-row .image-item:nth-child(4) {
    background: url(../img/Problems/Problems_4.jpg) no-repeat center left / cover;
  }
  .second-row .image-item:first-child {
    background: url(../img/Problems/Problems_5.jpg) no-repeat center left / cover;
  }
  .second-row .image-item:nth-child(2) {
    background: url(../img/Problems/Problems_6.jpg) no-repeat center left / cover;
  }
  .second-row .image-item:nth-child(3) {
    background: url(../img/Problems/Problems_7.jpg) no-repeat center left / cover;
  }
  .second-row .image-item:nth-child(4) {
    background: url(../img/Problems/Problems_8.jpg) no-repeat center left / cover;
  }
  .problem__item {  
    width: 25%;
    height: 350px;
  
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
  
    position: relative;
    overflow: hidden;
  }
  
  .image-item:hover .problem__content {
    opacity: 1;
  }
  
  
  .problem__content {
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    opacity: 0;
  
    width: 100%;
    height: 100%;
  
    background-color: #d0ed9dd2;
  
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transition: opacity 0.2s linear;
  }
  
  .problem__title {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
  }
  
  .problem__text {
    font-size: 14px;
    color: #424242;
  }
  
  /*Bottons
  ==================*/
  
  .problems__btn {
    margin-top: 100px;
  }
  
  .btn--one {
    display: inline-block;
    vertical-align: top;
  
    text-decoration: none;
    text-align: center;
    transition-duration: 100ms;
    transition-property: box-shadow;
  }
  
  .btn--one:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }
  
  .donate__btn--one {
    padding: 12px 30px;
    border: 1px solid #00ff00;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Raleway", sans-serif;
    font-size: 13px;
    color: #000000;
    font-weight: 600;
  }
  
  .problem__btn--one {
    padding: 12px 25px;
  
    border: 1px solid #00ff00;
    border-radius: 10px;
    background-color: #00ff00;
  
    cursor: pointer;
  
    font-size: 13px;
    color: #000000;
    font-weight: 600;
  }