* {
    box-sizing: border-box;
  }
  
  html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  body {
    font-family: 'Roboto Slab',Tahoma, Arial,serif;
    font-size: 14px;
  }
  
  .main {
    display: flex;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  
  .col_left {
    max-width: 290px;
    min-width: 290px;
  }
  
  .account-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: rgba(46, 150, 5, 0.836);
  }
  
  .account-profile-logo {
    text-align: center;
  
    img {
      max-width: 55px;
      max-height: 55px;
    }
  }
  
  .account-profile__user {
    color: #000;
  }
  
  .account-profile__mail {
    color: rgba(9, 27, 1, 0.836);
  }
  
  .account-menu {
    background-color: rgba(46, 150, 5, 0.836);
  }
  
  .account-info {
    padding: 20px;
    border-top: 1px solid rgba(242, 242, 242, 0.1);
  }
  
  .account-info-item {
    margin-bottom: 20px;
  }
  
  .account-info-item__key {
    font-size: 13px;
    color: rgba(9, 27, 1, 0.836);
    font-weight: 300;
    margin-bottom: 5px;
  }
  
  .account-info-item__value {
    font-size: 16px;
    color: #000;
    font-weight: 700;
  }
  
  .account-menu-links__item {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    font-size: 15px;
    line-height: 40px;
    position: relative;
    font-weight: 400;
    color: #ccc;
    border-top: 1px solid rgba(242, 242, 242, 0.1);
    transition: color .3s;
    cursor: pointer;
  
    a {
      color: #000;
  
      &:hover {
        color: greenyellow;
      }
    }
  }
  
  .col_center {
    width: 100%;
  }
  
  .account-block-tabs {
    display: flex;
    background-color: #efefef;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
  
  .account-block-tabs__item {
    padding: 0 20px;
    font-size: 15px;
    line-height: 45px;
    font-weight: 700;
    text-transform: uppercase;
    color: #616161;
    cursor: pointer;
    transition: color .3s ease;
    text-decoration: none;
  }
  
  .personal-data-info .grid-container {
    max-width: 700px;
    padding-bottom: 30px;
  }
  
  .grid-container {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 5px;
    padding-left: 5px;
  }
  
  .account-profile-page_info {
    padding-top: 16px;
  }
  
  .grid-row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .account-profile-page_info_cell {
    margin-top: 10px;
    min-width: 50%;
    max-width: 50%;
    flex: 50;
  }
  
  .account-profile-page__name {
    font-size: 13px;
    color: rgba(9, 27, 1, 0.836);
    font-weight: 300;
    margin-bottom: 5px;
  }