.footer{
  
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    width: 100%;
    padding: 40px 20px;
    align-items: center;
    background-color: #defeb0;
    color: 	#7e8278;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .footer__text,h1,span{
    margin-top:40px;
    padding: 25px 0 10px 35px;
    font-size: 25px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700 italic;
  }

  .author{
    padding-left: 600px
  }
  
  .footer__logo img{
  height: 20px;
  filter: invert(1) brightness(1000);
  }

  .footer__copyright ,h1,span{
    text-align: center;
    margin: 0 auto;
  }
  
  .footer__icons{
    display: flex;
    position: absolute;
    right: 0;
    margin-left: auto;
  }
  
  .icons img{
    margin: 0 10px;
    height: 40px;
    
  }